.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
} 
/*------Fonts-------*/
@font-face {
    font-family: Pari;
    src: url(../fonts/Parisienne-Regular.ttf);
}    

.section{
background-color: rgb(251, 236, 209);
}
h2{
  margin-bottom:2%;
  font-family:'Pari',sans-serif;
  font-weight: 300;
  font-size:3em;
  padding-top: 35px;
  border-bottom: 1px solid #6f4b16;
  width:40%;
  margin-left:auto;
  margin-right:auto;
}
/*------Navigation------*/

#fp-nav ul li .fp-tooltip {
  color:#c73e3e;
}

/* Space out content a bit */

#letter-title{
  font-family:'Pari', cursive;
  margin-top:1.2em;
  color:rgba(62, 45, 20, 0.78);
  font-size:4em;
}
.letter-top{
   /*border-bottom:1px solid black;*/
   top:0;
   width:100%;
   height: calc(100vh/2);
   background-color:#f0dab1;
   /*border-bottom:1px solid #6f4b16;*/
   box-shadow:inset 0px -1px 0px 0px #6f4b16;
   z-index: 400;
   position:absolute;
   object-fit: fill;
}
.seal{
  cursor:pointer;
}

.grow{
  animation-name: seal ;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes seal{
   0% {
    transform: scale(.3);
   
  }
  50% {
  
  }
  100% {
    transform: scale(1.5);
 
  }
}
.seal-top-cont{
   width:100%;
   /*margin-top:calc(100vh/3.8);*/
   bottom:-1px;
   position:absolute;
   height:auto;
   text-align: center;
   margin-left:auto;
   margin-right:auto;
}
.seal-bot-cont{
   margin-left:auto;
   margin-right:auto;
   text-align:center;
   position:static;
   width:100%;
}
#seal-top{
   margin-left:auto;
   margin-right:auto;
   position:static;
}

.seal-hover{
  opacity: 0.5;
}

.letter-bot{
   background-color:#f0dab1;
   box-shadow: inset 0px 9px 20px 1px #d4b06e, inset 0px 0px 11px 0px #d4b06e;
   /*border-top:1px solid black;*/
   bottom:0;
   width:100%;
   height: calc(100vh/2);
   z-index:400;
   position:absolute;
}
.letter-cont{
   height:100vh;
   width:100%;
   background-color: #fbecd1;
   top:0;
}
.insert_name{
  margin-left: auto;
  margin-right: auto;
  width:230px;
}
#name_input{
  text-align: center;
  border: 3px solid #d4b06e; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    color:rgba(62, 45, 20, 0.78);
    background: transparent;
    margin:50px auto 0 auto;
    /*margin: 0 0 10px 0;*/
}
p.about{
  padding-top:5%;
}
.about{
   display:none;
   width:75%;
  /* font-size:1.7rem;*/
   font-size:2.25em;
   color:rgba(62, 45, 20, 0.78);
   line-height: 180%;
   /*padding-top:10%;*/
   margin-left:auto;
   margin-right:auto;
   font-family:'Pari', cursive;
}
#about-body{
  /*text-indent:65px;*/
  padding-top:1%;
}
.regards{
  display:none;
  width:75%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Pari', cursive;
  font-size:2.25em;
  color:rgba(62, 45, 20, 0.78);
  margin-bottom:0;
}
#nations{
  margin-bottom:7%;
  font-family:'Pari',sans-serif;
  font-weight: 300;
  font-size:3em;
  padding-top: 35px;
}
.usa,.spain{
  text-align:center;
}

.nation-flag{
  box-shadow:0px 0px 10px #333333;
}
.nation-about{
  line-height:170%;
  font-size:1.15em;
}
.usa-spain{
   padding-right:5%;
}
.cuba-fili{
  padding-left:5%;
}

/*=========Second Section=========*/
#fullpage{
  display:none;
}
.jumbotron{
  background-color:#f5e1bc;
  box-shadow:0px 0px 10px #928065;
}
.doc-wrapper{
   /*display:none;*/
   background-color:#fbecd1;
}

#hr{
  width:95%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  /*padding-bottom: 1rem;*/
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}
/*=====================Third section===================*/

.switch-fonts{
  /*font-family: 'Roboto', sans-serif !important;*/
  font-size: 1.3em !important;
}

.third{
  position:absolute;
  top:0;
  width:100vw;
}

.doc-wrapper > .ship{
  width:auto;
}
.player{
  position:absolute;
  bottom:15px;
  left:15px;
}
.player button{
  border:1px solid #fff;
  background:transparent;
  color:#fff;
  cursor:pointer;
}
#ship{
  z-index:800;
  position:absolute;
  bottom:75px;
}
.mine{
  width:auto;
  z-index:900;
  position:absolute;
  bottom:80px;
  margin-left:50%;
  margin-right:auto;
  text-align:center;
}
#mine{
  margin-left:auto;
  margin-right:auto;
  position:static;
}
.mine::after{
  content:'';
  position:absolute;
  background-color:#333333;
  height:80px;
  transform: rotate(180deg);
  width:1px;
}
.explode{
  width:auto;
  z-index:950;
  position:absolute;
  bottom:185px;
  margin-left:47%;
  margin-right:auto;
  text-align:center;
}
#explode{
  position:absolute;
  opacity:0;
}
#ocean{
  position:absolute;
  width:100%;
  min-height:20%;
  bottom:0;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(0,50,150)),
  color-stop(0.50, rgb(0,150,255))
  );
}

.maine_para{
  margin-top:30px;
 /* font-family: 'Pari', cursive;*/
  line-height:150%;
  font-size:1.4em;
 
}

#maine_photo{
  margin-top:30px;
  box-shadow:0px 0px 10px #4c4c4c;
  border:5px solid rgb(255, 255, 255);
  border-radius:2px;
}
/*.wave{
  background:rgb(251, 236, 209);
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         0s; 
  -webkit-animation-iteration-count:  10;
  -webkit-transition-timing-function: ease-in-out;
  animation-name:             dostuff; 
  animation-duration:         0s; 
  animation-iteration-count:  10;
  transition-timing-function: ease-in-out;
}*/
/*=====================Fourth Section======================*/

#teddy{
  margin-top:40px;
  border:5px solid #fff;
  box-shadow:0px 0px 10px #4c4c4c;
}
#rough-riders{
  border:5px solid #fff;
  box-shadow:0px 0px 10px #4c4c4c;
  margin-top:40px;
  border-radius:2px;
}
.riders-about{
  line-height: 170%;
  font-size:1.15em;
  margin-top:40px;
}

@keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}

/*=============================Fith Section=========================*/

.treaty_para{
  padding-left:20px;
  line-height:160%;
  font-size:1.1em;
}
#treaty-paper{
  box-shadow:0px 0px 10px #333333;
}
.won1{
  display:none;
}
#seal2{
  position:absolute;
  bottom:10px;
  left:45%;
  display:none;
}
#sign{
  position:absolute;
  bottom:35px;
  left:30%;
  font-family:'Pari',cursive;
  border:1px solid #6f4b16;
  font-size:1.5em;
  background:transparent;
  cursor:pointer;
}
.flash{
  animation-delay: 2s;
  animation-duration: 4s;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }

}
.container-narrow > hr {
  /*margin: 2rem 0;*/
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
 /* border-bottom: .05rem solid #e5e5e5;*/
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 48em){
   .about{
      width:75%;
      font-size:1.2rem;
      line-height: 180%;
      padding-top:17%;
      margin-left:auto;
      margin-right:auto;
   }
}
